
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

main {
    background-image: url(./img/img-fundo-verde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-position: center;
}

.img-tenis-verde {
    width: 100%;
    height: 100%;
}

.preco {
    font-size: 200%;
    margin-bottom: 10%;
    margin-top: 76px;
}

.paragrafo-principal {
    width: 500px;
    font-size: 1em;
    margin-top: 1em;
}

h1 {
    font-size: 500%;
    width: 400px;
    margin-bottom: 50px;
}

.div-left {
    margin-left: 8%;
    margin-top: -2%;
    display: flex;
    flex-direction: column;
    color: white;
}

.button-main {
    border: none;
    background: #a3be52;
    cursor: pointer;
    width: 205px;
    height: 42px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 16px;
}

.button-main:hover {
    opacity: 0.8;
}

.button-main:active {
    opacity: 0.3;
}

.tenis-button {
    display: flex;
    width: 55%;
    justify-content: space-between;
    
}

.tenis-verde {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    background: #ccee66;
    cursor: pointer;
}

.tenis-rosa {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    background: #ff9eb5;
    cursor: pointer;
}



.tenis-azul {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    background: #58cced;
    cursor: pointer;
}

.div-tenis-nike {
    position: absolute;
    unicode-bidi: isolate;
    margin-left: 45%;
    margin-top: 7%;
    
}

.tenis-nike {
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(36px 45px 40px #161616);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.sobe {
    transform: translateY(-100%);
    opacity: 0;
}

.desce {
    transform: translateY(100%);
    opacity: 0;
}















@media screen and (max-width: 1750px) {
    h1 {
        font-size: 50px;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .paragrafo-principal {
        font-size: 15px;
        width: 400px;
    }

    .tenis-verde {
        width: 60px;
        height: 60px;
    }
    .tenis-rosa {
        width: 60px;
        height: 60px;
    }
    .tenis-azul {
        width: 60px;
        height: 60px;
    }

    .tenis-button {
        width: 225px;
    }

    .div-tenis-nike {
        margin-left: 40%;
        margin-bottom: 120px;
    }

    .tenis-nike {
        width: 500px;
    }
}




@media screen and (max-width: 1330px) {
    main {
        height: 100vh;
        width: 100vw;
    }

    .paragrafo-principal {
        font-size: 15px;
        width: 400px;
    }

    .preco {
        font-size: 30px;
    }

    h1 {
        font-size: 50px;
        width: 300px;        
    }

    .tenis-verde {
        width: 80px;
        height: 80px;
    }
    .tenis-rosa {
        width: 80px;
        height: 80px;
    }
    .tenis-azul {
        width: 80px;
        height: 80px;
    }

    .tenis-button {
        width: 300px;
    }

    .div-tenis-nike {
        position: absolute;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        top: 35%;
        left: 50%;
    }

    .tenis-nike {
        width: 40vw;
    }

}




@media screen and (max-width: 730px) {
    main {
        display: block;
    }

    .paragrafo-principal {
        width: 90%;
        font-size: 15px;
        margin-top: 0;
    }

    h1 {
        width: 200px;
        font-size: 30px;
        text-align: center;
        top: 0;
    }

    .preco {
        font-size: 30px;
        margin-top: 0;
    }

    .div-left {
        margin: 0;
        align-items: center;
    }

    .div-tenis-nike {
        display: contents;
        margin: 0;
    }
    .button-main {
        margin-bottom: 10px;
    }
    .tenis-nike {
        width: 350px;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
        margin-top: 50px;
    }
}